*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:380px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.logo{
    text-align:center;
    color:#5b4bdb;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:gray;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

input:focus{
    outline:none;
    border-color:#5b4bdb;
}

button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:8px;
    background:#5b4bdb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4834d4;
}

.register-text{
    margin-top:20px;
    text-align:center;
}

.register-text a{
    text-decoration:none;
    color:#5b4bdb;
    font-weight:bold;
}